<footer class="py-5 bg-dark">
	<div class="container">
		<p class="text-center" style="font-size: 60px">👨‍💻</p>
		<!-- /. welcome emoji -->
		<h4 class="text-center text-white">
			Hi, I am Ali.
		</h4>
		<!-- /. my intro -->
		<p class="m-0 text-center text-white">
			I am a Solo Maker and I created, developed & Maintain this website. I go by AliCoderMaker on 
			<a target="_blank" href="https://www.twitter.com/AliCoderMaker">Twitter</a>, 
			<a target="_blank" href="https://www.instagram.com/AliCoderMaker">Instagram</a> and 
			<a target="_blank" href="https://www.facebook.com/AliCoderMaker">Facebook</a>.
			<br>Copyright &copy; Ali Khundmiri 2018
		</p>
		<!-- /. my details -->
	</div>
	<!-- /.container -->
</footer>
